@import url(main.css);

.course-wrapper {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.course-wrapper .course-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-wrapper .course-data .course-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.course-wrapper .course-data .course-info .course-title-and-desc .course-rating {
    margin-top: 1rem;
}

.course-wrapper .course-data h1 {
    font-size: 3rem;
}

.course-wrapper .course-data h1 span {
    font-size: .8rem;
    font-weight: 400;
}

.course-wrapper .course-data h1 a {
    color: var(--main-color);
    font-weight: 600;
}

.course-wrapper .course-data h1 a:hover {
    color: var(--dark-gray-color);
}

.course-wrapper .course-data p {
    font-family: var(--secondary-font);
    font-size: .8rem;
}

.rating-and-students {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.rating-and-students .students {
    font-size: .9rem;
    font-family: var(--secondary-font);
    color: var(--dark-gray-color);
}

.course-data .course-rating {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: .9rem;
    color: gold;
    cursor: pointer;
}

.course-data .course-rating:hover .fa-chevron-down,
.course-data .course-rating:hover span {
    color: var(--main-color);
}

.course-data .course-rating span,
.course-data .course-rating .fa-chevron-down {
    color: var(--dark-gray-color);
}



.course-data .course-lessons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-data .course-lessons h2,
.course-data .course-creator-container h2 {
    font-size: 1.2rem;
}

.course-data .course-lessons .course-lessons-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overflow-x: scroll;
    gap: 1rem;
    width: 100%;
    scroll-snap-type: inline mandatory;
    padding-bottom: 10px;
    mask-image: linear-gradient(120deg, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    padding-right: 10%;
}

.course-data .course-lessons .course-lessons-container::-webkit-scrollbar {
    background: transparent;
    height: 6px;
}


.course-data .course-lessons .course-lessons-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
}

.course-data .course-lessons .course-lessons-container::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

.course-data .course-lessons .course-lessons-container .course-lesson {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    transition: var(--transition-1);
    cursor: pointer;
}

.course-data .course-lessons .course-lessons-container .course-lesson.blur-bg:hover::before,
.side-card-container .side-card.blur-bg:hover::before {
    opacity: .5;
}

.course-data .course-lessons .course-lessons-container .course-lesson i {
    font-size: 2rem;
    color: var(--main-color);
}

.course-data .course-lessons .course-lessons-container .course-lesson p {
    font-size: .8rem;
    color: var(--dark-gray-color);
    font-family: var(--secondary-font);
}

.course-data .course-lessons .course-lessons-container .course-lesson:hover::before {
    opacity: 1;
}

.course-data .course-creator-container {
    width: 100%;
}



.course-data .course-creator {
    margin-top: 1rem;
    width: 100%;
}

.course-data .course-creator .course-creator-name {
    display: flex;
    align-items: start;
    height: 100%;
    /* gap: 1rem; */
}

.course-data .course-creator img {
    width: 70px;
    height: 70px;
}

.course-data .course-creator .course-creator-name {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.course-data .course-creator .course-creator-name .joining-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

.course-data .course-creator .course-creator-name .joining-date span {
    font-size: .8rem;
    font-weight: 500;
    color: var(--main-color);
}

.course-data .course-creator h2 {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.course-data .course-creator .course-creator-name .course-creator-name-and-bio span {
    font-size: .6rem;
    font-weight: 500;
    color: var(--main-text-color);
}

.course-data .course-creator p {
    font-size: .8rem;
    font-weight: 600;
    line-height: 1rem;
    color: var(--dark-gray-color);
}

.course-creator-info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.course-creator-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    gap: 1rem;
    cursor: pointer;
}


.course-creator-info-item:hover span {
    color: var(--main-color);
    transition: var(--transition-1);
}
.course-creator-info-item i {
    font-size: 2rem;
    color: var(--main-color);
}

.course-creator-info-item.blur-bg::before {
    opacity: .5;
}

.course-creator-info-item.blur-bg:hover::before {
    opacity: 1;
}

.course-creator-info-item span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-gray-color);
    /* font-family: var(--secondary-font); */
    transition: var(--transition-2);
}

.side-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.side-card {
    position: sticky;
    place-self: center;
    top: 105px;
    width: 85%;
    /* height: 100%; */
}

.side-card .course-payment-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.course-creator-info>p {
    font-size: .8rem;
    font-weight: 400;
    color: var(--dark-gray-color);
    margin-top: 1rem;
    font-family: var(--secondary-font);
}

.side-card .course-price-info {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: .9rem;
}

.side-card .course-price-info p {
    font-size: .8rem;
    font-weight: 500;
    color: var(--dark-gray-color);
    font-family: var(--secondary-font);
}

.side-card .course-price-info h3 {
    font-size: 3rem;
    color: var(--main-color);
    margin: 0;
    line-height: .8rem;
}

.side-card .course-price-info h3 span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-gray-color);
    font-family: var(--secondary-font);
    line-height: 1rem;
}

.side-card .course-price-info .sale h4 {
    text-decoration: line-through;
    color: var(--dark-gray-color);
    font-size: .9rem;
    font-weight: 500;

}

.side-card .course-price-info .sale p {
    color: rgb(255, 0, 55);
}

.side-card .learning-info {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2.5rem;
}

.side-card .learning-info .learned-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.side-card .learning-info .learned-items::after {
    content: "";
    width: 3px;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    position: absolute;
    border-radius: 5rem;
    top: 60%;
    right: -23px;
    transform: translateY(-50%);
}

.side-card .learning-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.side-card .learning-info ul {
    list-style: "\2022";
    list-style-position: inside;
    margin-left: 1rem;
    color: var(--dark-gray-color);
    font-size: .8rem;
    font-weight: 500;
    font-family: var(--secondary-font);
}

.side-card .learning-info ul span {
    margin-left: .5rem;
}

.course-badges {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.course-badges .badges {
    display: grid;
    grid-template-columns: repeat(2, 50px);
}

.course-badges .badges img {
    width: 100%;
    height: 100%;
}

